<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>

<body>
	<nav th:replace="layout :: header"></nav>

	<div class="container" id="main-content">
		<div class="row">
			<div class="col-6 no-padding">
				<form class="form-inline" th:action="@{/listuser/search}" method="get" >
					<input class="form-control mr-sm-2" id="input-search"  type="search" name="name" th:value="*{name}" placeholder="Search by name ..."  />
					<button class="btn btn-primary" id="btn-search" type="submit">
						<i class="fa fa-search"></i>
					</button>
				</form>
			</div>

			<div class="col-6 no-padding">
				<a href="#" th:href="@{/listuser/add}" class="btn btn-success float-right">
					<i class="fa fa-plus-square"></i> Tạo User
				</a>
			</div>
		</div>

		<div class="row mt-4">
			<div th:if="${successMessage}" class="col-12 alert alert-success alert-dismissible fade show" role="alert">
				<span th:text="${successMessage}"></span>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>


			</th:block>
			<th:block th:if="${#lists.isEmpty(listuser)}">
				<h5>Không Tìm Thấy User</h5>
			</th:block>

			<th:block th:unless="${#lists.isEmpty(listuser)}">
				<div class="table-responsive">
					<h5>Danh Sách User</h5>
					<table class="table table-bordered table-hover">
						<thead>
						<tr>
							<th>Stt</th>
							<th>Name</th>
							<th>Email</th>
							<th>Phone</th>
							<th>Action</th>
						</tr>
						</thead>
						<tbody class="list-user">
						<tr th:each="list,state : ${listuser}" th:data-id="${list.id}">
							<th scope="row" th:text="${state.count}"></th>
							<td th:text="${list.name}"></td>
							<td th:text="${list.email}"></td>
							<td th:text="${list.phone}"></td>
							<td>
								<a href="#" th:href="@{/listuser/{id}/edit(id=${list.id})}" class="mr-sm-2 text-primary">
									<i class="fa fa-pencil"></i>
								</a>
								<a th:onclick="'deleteUser('+${list.id}+')'" class="text-danger">
									<i class="fa fa-trash"></i>
								</a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</th:block>
		</div>
	</div><!-- /.container -->

	<footer th:replace="layout :: footer"></footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			hello();
        });

		function hello() {
			console.log("Hello World");
		};
		function deleteUser(id) {
			$.ajax({
				url: 'http://localhost:8080/user/'+id,
				type: "DELETE",
				error: function(data) {
				    console.log(data)
				},
				success: function(data) {
				    alert("Xóa thành công")
				    $(".list-user tr[data-id='"+id+"']").remove()
				}
			});
			return false;
		};
		$('#btn-search').click(function(){
		window.location.assign('http://localhost:8080/listuser');
		});


	</script>
</body>
</html>